<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome">
       <img src="assets/images/logo.png" width="50" height="50" class="d-inline-block" alt=""> Bella Cucina
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" >Dashboard</a>
              </li>
        </ul>
    </div>
</nav>
<div class="row" id="Menu">
  <div class="col navMenu">
        <h2 class="text-center" >~ Liste Menu ~</h2>
  </div>
</div>
<div class="container">
<div class="row bg-light">
  <div class="col-md-4" data-aos="slide-up">
    <div class="card view zoom">
        <img class="card-img-top img-fluid " src="assets/images/spaghetti-con-pomodorini.jpg">
        <div class="card-body">
          <h5 class="card-title">~ Spaghetti al Pomodoro Fresco e Basilico ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Minestrone Toscano</li>
            <li class="list-group-item">Insalata di Pollo e Riso</li>
           <li class="list-group-item">Polpette di Pollo all</li>
           <li class="list-group-item">Purè di Patate all</li>
           <li class="list-group-item">Fesa di tacchino marinata con olive</li>
        </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="slide-up">
    <div class="card">
        <img class="card-img-top img-fluid " src="assets/images/plat2.jpeg">
        <div class="card-body">
          <h5 class="card-title">~ Bruschetta Pomodoro e Basilico ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Risotto ai Frutti di Mare</li>
            <li class="list-group-item">Saltimbocca alla Romana</li>
           <li class="list-group-item">Bruschetta Pomodoro e Basilico</li>
           <li class="list-group-item">Insalata Caprese</li>
           <li class="list-group-item">Ravioli di pesce con crema di scampi</li>
        </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="slide-up">
    <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/plat3.jpg">
        <div class="card-body">
          <h5 class="card-title">~ Arancini al Ragù ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Gnocchi alla Sorrentina</li>
            <li class="list-group-item">Involtini di Pollo alla Siciliana</li>
           <li class="list-group-item">Arancini al Ragù</li>
           <li class="list-group-item">Insalata Mista</li>
           <li class="list-group-item">Spaghetti con le polpettine vegetariane</li>
        </ul>
        </div>
    </div>
  </div>
</div>

<br> <br>

<div class="row bg-light">
  <div class="col-md-4" data-aos="slide-up">
    <div class="card view zoom">
        <img class="card-img-top img-fluid " src="assets/images/plat4.png">
        <div class="card-body">
          <h5 class="card-title">~ Tiramisu ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Tiramisu Classico</li>
            <li class="list-group-item">Tiramisu alle Fragole</li>
           <li class="list-group-item">Tiramisu al Limoncello</li>
           <li class="list-group-item">Tiramisu al Cioccolato</li>
           <li class="list-group-item">Tiramisu al Pistacchio</li>
        </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="slide-up">
    <div class="card">
        <img class="card-img-top img-fluid " src="assets/images/plat5.jpeg">
        <div class="card-body">
          <h5 class="card-title">~ Panna Cotta ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Panna Cotta Classica</li>
            <li class="list-group-item">Panna Cotta al Limone</li>
           <li class="list-group-item">Panna Cotta al Cioccolato</li>
           <li class="list-group-item">Panna Cotta al Caffè</li>
           <li class="list-group-item">Panna Cotta ai Frutti di Bosco</li>
        </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="slide-up">
    <div class="card">
        <img class="card-img-top img-fluid" src="assets/images/plat6.jpg">
        <div class="card-body">
          <h5 class="card-title">~ Zeppole ~</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Zeppole al Cioccolato</li>
            <li class="list-group-item">Zeppole di Ricotta</li>
           <li class="list-group-item">Zeppole alla Crema</li>
           <li class="list-group-item">Zeppole al Limone</li>
           <li class="list-group-item">Zeppole alla Nutella</li>
        </ul>
        </div>
    </div>
  </div>
  </div>
  <div class="row footer bg-light">
    <div class="col">
      <p class="text-center">Follow us: <a class="social-icon" href="https://www.facebook.com/rubiktechnologiesShpk/"><i class="fab fa-facebook"></i></a> <a class="social-icon" href="https://www.instagram.com/rubiktechnologies/"><i class="fab fa-instagram"></i></a></p>
    </div>
    <div class="col">
      <p class="text-center">Copyright &copy; 2018</p>
    </div>
    <div class="col">
      <p class="text-center">Powered by: <a href="https://rubik-technologies.com/">Rubik Technologies</a></p>
    </div>
  </div>
