<div class="container">
    <div class="row" id="Restaurant">
       <div class="col navMenu">
             <h2 class="text-center" >~ Restaurant ~</h2>
       </div>
     </div>
     <div class="row bg-light" >
         <div class="col-md-6">
             <h3>Emplacement</h3>
             <p>Niché au cœur de la Tunisie, notre restaurant vous ouvre ses portes dans un cadre charmant, offrant une expérience culinaire italienne authentique notre établissement vous transporte dans une atmosphère méditerranéenne unique. Nous vous invitons à découvrir une fusion exquise entre la tradition italienne et l'accueil tunisien. Rejoignez-nous pour une expérience culinaire mémorable.</p>
             <h5>Une expérience unique</h5>
             <p>Vivez une expérience gastronomique exceptionnelle dans notre restaurant. Niché dans un cadre chaleureux, chaque visite promet des saveurs italiennes authentiques et une ambiance inoubliable. Bienvenue à une expérience unique où chaque plat raconte une histoire de passion et de fraîcheur.</p>
         </div>
         <div class="col-md-6" data-aos="fade-up">
             <img class="img-fluid" src="assets/images/vu4.jpeg">
         </div>
     </div>
     <div class="row bg-light"><br></div>
     <div class="row bg-light">
         <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
             <img class="img-fluid " src="assets/images/vu5.jpg">
         </div>
         <div class="col-md-6 order-md-12 order-1">
             <h3>Cuisine</h3>
             <p>Plongez dans une expérience gastronomique italienne inoubliable au cœur de notre restaurant. De la première bouchée à la dernière, chaque plat est une célébration de l'art culinaire italien. Nos chefs dédient leur talent et leur passion à créer des spécialités qui captivent les papilles et honorent la tradition italienne. Des pâtes parfaitement préparées aux antipasti délicats, chaque assiette raconte une histoire de saveurs authentiques et d'ingrédients soigneusement sélectionnés.</p>
             <h5>À Bella Cucina </h5>
             <p>Chaque repas est une célébration de l'Italie, de la cuisine savoureuse et de la convivialité. Nous sommes impatients de vous accueillir pour une expérience gastronomique inoubliable. Réservez maintenant et laissez notre équipe dévouée vous guider à travers un voyage gustatif authentique.</p>
         </div>
     </div>
