<!-- menu.component.html -->
<div class="card view zoom">
    <img class="card-img-top img-fluid" [src]="menu.image" alt="{{ menu.namemenu }}">
    <div class="card-body">
      <h5 class="card-title">~ {{ menu.namemenu }} ~</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ menu.plat1 }}</li>
        <li class="list-group-item">{{ menu.plat2 }}</li>
        <li class="list-group-item">{{ menu.plat3 }}</li>
        <li class="list-group-item">{{ menu.plat4 }}</li>
      </ul>
    </div>
  </div>
  